@import '../../Styles.scss';
.card {
	margin: 25px 0;
	.card__contenido {
		@include box;
		text-align: center;
		.card__contenido-title {
			text-align: center;
			margin: 10px 0;
			font-weight: $subtitulo-weight;
		}
		.card__contenido-image {
			margin: 10px;
		}
		.card__contenido-button {
			@include boton;
			width: 200px;
		}
	}
}
